@page "/createQuiz"
@using QuizManagerApp.Data
@using System.Security.Cryptography

<h3>Create Quiz</h3>

<label>Add a quiz</label>
<input type="text" placeholder="Add quiz description here" @bind="@Description" />

<label>Number of questions</label>
<input type="number" @bind="@NumberOfQuestions"/>


<br />
<h4>@Description</h4>

@for (var i = 0; i < NumberOfQuestions; i++)
{
    <label>Type your question here: 
        <input type="text" />
    </label>
    <label>Type your answers here:
        <input type="text" placeholder="required - correct answer" @bind="@CorrectAnswer" />
        <input type="text"  placeholder="required" />
        <input type="text"  placeholder="required" />
        <input type="text"  placeholder="optional" />
        <input type="text"  placeholder="optional" />
    </label>
}


@code {

    public string Description { get; set; }

    public int NumberOfQuestions { get; set; }

    public string CorrectAnswer { get; set; }

}
