@page "/createQuiz"
@using QuizManagerApp.Data
@using System.Security.Cryptography

@inject IQuizService QuizService
@inject NavigationManager NavigationManager

<h3>Create Quiz</h3>

<label>Add a quiz</label>
<input type="text" placeholder="Add quiz description here" @bind="Description" />
<Button @onclick="@CreateQuiz">Create Quiz</Button>


<br />
<h4>@Description</h4>



@code {

    public string Description { get; set; }

    Quiz _quiz = new Quiz();
    IEnumerable<Quiz> _quizzes;

    protected override async Task OnInitializedAsync()
    {
        _quizzes = await QuizService.GetQuizTask();

    }

    protected async Task CreateQuiz()
    {
        _quiz.Description = Description;
        _quiz.QuizId = _quizzes.ToList().Count + 1;
        await QuizService.CreateQuiz(_quiz);
        NavigationManager.NavigateTo("/quizOptions");
    }
}
