@page "/"
<br />
<AuthorizeView>
    <NotAuthorized>
        <h3>You are currently viewing in Guest mode. Please log in to view more.</h3>
        <QuizList />
    </NotAuthorized>
    <Authorized>
        <h3>Hello @context.User.Identity.Name</h3>
        <QuizList/>
    </Authorized>
</AuthorizeView>