@page "/quizOptions"
@using QuizManagerApp.Data

@inject IQuizService QuizService
@inject NavigationManager NavigationManager

@if (_quizzes == null)
    {
        <p>loading...</p>
    }
    else
    {
        <AuthorizeView>
            <Authorized>
                <table class='table'>
                    <thead>
                    <tr>
                        <th>Quiz</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var quiz in _quizzes)
                    {
                        <tr>
                            <td>@quiz.Description</td>
                            <td>
                                <a href='/QuizCategoryView/@quiz.QuizId'>View</a>
                                <a href='#'>Delete</a>
                            </td>
                        </tr>



                    }
                    </tbody>
                </table>
                <button @onclick="@AddQuiz">Click here to add another quiz</button>
            </Authorized>
            <NotAuthorized>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Quiz</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var quiz in _quizzes)
                        {
                            <tr>
                                <td>@quiz.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </NotAuthorized>
</AuthorizeView>
    }


@code {
    IEnumerable<Quiz> _quizzes;

    protected override async Task OnInitializedAsync()
    {
        _quizzes = await QuizService.GetQuizTask();
    }

    public void AddQuiz()
    {
        NavigationManager.NavigateTo("CreateQuiz");
    }

}
