@page "/quizOptions"
@using QuizManagerApp.Data

@inject IQuizService QuizService
@inject NavigationManager NavigationManager

<h3>Quiz List</h3>

@if (_quizzes == null)
{
    <p>loading...</p>
}
else
{
    <table class='table'>  
        <thead>  
        <tr>  
            <th>Quiz</th>
        </tr>  
        </thead>  
        <tbody>  
        @foreach (var quiz in _quizzes)  
        {  
            <tr>  
                <td>@quiz.Description</td>
                <td>  
                    <a href='/QuizCategoryView/@quiz.QuizId'>View</a>  
                    @*<a href='/DeleteQuiz/@quiz.QuizId'>Delete</a>*@  
                </td>  
            </tr>  
  
        }  
        </tbody>  
    </table>  
    @foreach (var quiz in _quizzes)
    {
        <Card>@quiz.Description</Card><a href="/QuizView/@quiz.QuizId">View Quiz</a>
    }
    <button @onclick="@AddQuiz">Click here to add another quiz</button>
    

}


@code {
    IEnumerable<Quiz> _quizzes;

    protected override async Task OnInitializedAsync()
    {
        _quizzes = await QuizService.GetQuizTask();
    }

    public void AddQuiz()
    {
        NavigationManager.NavigateTo("CreateQuiz");
    }

}
