@page "/QuizCategoryView/{QuizId:int}"
@using QuizManagerApp.Data
@inject IQuizService QuizService

<h3>Question List</h3>
@if (_quizModel == null)
{
    <p>loading...</p>
}
else
{
    <br />
    foreach (var question in _quizModel)
    {
        <Card>
            <h4>@question.Description</h4>
            <a href="/QuestionAnswerView/@question.QuestionId">View answers</a>
        </Card>
    }
}


@code {
    [Parameter]
    public int QuizId { get; set; }

    IEnumerable<QuizModel> _quizModel;

    protected override async Task OnInitializedAsync()
    {
        _quizModel = await QuizService.GetQuestionsForSingleQuiz(QuizId);
    }
}
