@page "/QuizCategoryView/{QuizId:int}"
@using QuizManagerApp.Data
@inject IQuizService QuizService
@inject NavigationManager NavigationManager

<h3>Question List</h3>
@if (_quizModel == null)
{
    <p>loading...</p>
}
else if (_quizModel.ToList().Count == 0)
{
    <p>Oh no, it looks like this quiz does not have any questions yet!</p>
    <p>Add some questions here:</p>
    
}
else
{
    <br />
    foreach (var question in _quizModel)
    {
        <Card>
            <h4>@(((Quiz) question).Description)</h4>
            <a href="/QuestionAnswerView/@question.QuestionId">View answers</a>
        </Card>
    }
}
<br />
<Button><a href="/AddQuestions/@QuizId">Add Questions</a></Button>

@code {
    [Parameter]
    public int QuizId { get; set; }

    IEnumerable<QuizModel> _quizModel;

    protected override async Task OnInitializedAsync()
    {
        _quizModel = await QuizService.GetQuestionsForSingleQuiz(QuizId);
    }

}
