@inherits LayoutComponentBase

<Layout>
    <Header Style="position: fixed; z-index: 1; width: 100%;">
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"2"})>
            <div class="float-right">
                <LoginDisplay />
            </div>
            </Menu>
    </Header>
    <Content Class="site-layout" Style="padding:10px 50px; margin-top: 64px; ">
        <div class="site-layout-background" style="padding: 24px; min-height: 500px ">
            @Body
        </div>
    </Content>
</Layout>
